@using TrainingFive.Areas.Soltys.Models
@model SearchFormModel

<div>
    <h3>znajdź ofertę</h3>

    @using (Html.BeginForm("Search", "Search"))
    {
        <div class="row">
            <div class="form-group">
                @Html.DropDownListFor(model => model.SelectedOfferType, Enum.GetNames(typeof(OfferTypeEnum)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.SelectedPropertyType, Enum.GetNames(typeof(PropertyTypeEnum)).Select(e => new SelectListItem { Text = e }), new { @class = "form-control", @placeholder = "Wybierz rodzaj nieruchomości" })
            </div>
            <div class="form-group">
                @Html.DropDownListFor(model => model.SelectedPlace, Model.PlacesList, new { @class = "form-control", @placeholder = "Wybierz typ oferty" })
            </div>

            <div class="form-group">
                Powierzchnia:
                od @Html.TextBoxFor(model => model.MinSurface, new { @class = "form-control" })
                do @Html.TextBoxFor(model => model.MaxSurface, new { @class = "form-control" })
            </div>

            <div class="form-group">
                Cena:
                od
                @Html.TextBoxFor(model => model.MinPrice, new { @class = "form-control" })
                do @Html.TextBoxFor(model => model.MaxPrice, new { @class = "form-control" })
            </div>

            <div class="form-group">
                Nr oferty:
                @Html.TextBoxFor(model => model.OfferNumber, new { @class = "form-control" })
            </div>

            <div class="text-center">
                <input type="submit" value="Szukaj" class="btn btn-default" />
            </div>
        </div>
    }
</div>
