<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">AZG</div>
        </div>


        <div class="navbar-collapse collapse">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="mainTabPanel">
                    <li role="presentation" class="active"><a href="#oFirmie" role="tab" data-toggle="tab">O firmie</a></li>
                    <li role="presentation"><a href="#informacje" role="tab" data-toggle="tab">Informacje</a></li>
                    <li role="presentation"><a href="#uslugi" role="tab" data-toggle="tab">Usługi</a></li>
                    <li role="presentation"><a href="#kalkulator" role="tab" data-toggle="tab">Kalkulator</a></li>
                    <li role="presentation"><a href="#zglos" role="tab" data-toggle="tab">Zgłoś</a></li>
                    <li role="presentation"><a href="#subskrypcja" role="tab" data-toggle="tab">Subskrypcja</a></li>
                    <li role="presentation"><a href="#notatnik" role="tab" data-toggle="tab">Notatnik</a></li>
                    <li role="presentation"><a href="#kontakt" role="tab" data-toggle="tab">Kontakt</a></li>
                    <li role="presentation"><a href="#mapaStrony" role="tab" data-toggle="tab">Mapa Strony</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="oFirmie">
                        <div class="undermenu">
                            <div class="label">@Html.ActionLink("O nas", "About", "Home")</div>
                            <div class="label">@Html.ActionLink("Agenci", "Agents", "Home")</div>
                            <div class="label">@Html.ActionLink("Z życia firmy", "FromLife", "Home")</div>
                            <div class="label">@Html.ActionLink("Należymy do", "BelongTo", "Home")</div>
                            <div class="label">@Html.ActionLink("Certyfikaty", "Certyficates", "Home")</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="informacje">
                        <div class="undermenu">
                            <div class="label">@Html.ActionLink("Współpraca", "Cooperation", "Informations")</div>
                            <div class="label">@Html.ActionLink("Reklama", "Adds", "Informations")</div>
                            <div class="label">@Html.ActionLink("Artykuły", "Articles", "Informations")</div>
                            <div class="label">@Html.ActionLink("Prawo", "Law", "Informations")</div>
                            <div class="label">@Html.ActionLink("Praca", "Work", "Informations")</div>
                            <div class="label">@Html.ActionLink("Kursy walut", "ExchangeRates", "Informations")</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="uslugi">
                        <div class="undermenu">
                            <div class="label">@Html.ActionLink("Kredyty", "Credits", "Servcies")</div>
                            <div class="label">@Html.ActionLink("Wycena", "Valuation", "Servcies")</div>
                            <div class="label">@Html.ActionLink("Porady", "Tips", "Servcies")</div>
                            <div class="label">@Html.ActionLink("Doradztwo", "Advertising", "Servcies")</div>
                            <div class="label">@Html.ActionLink("Kampanie reklamowe", "AdvertisingCampaigns", "Servcies")</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="kalkulator">
                        <div class="undermenu">
                            <div class="label">@Html.ActionLink("Finansowy", "Finances", "Calculator")</div>
                            <div class="label">@Html.ActionLink("Kredytowy", "Credits", "Calculator")</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="zglos">
                        <div class="undermenu">
                            <div class="label">@Html.ActionLink("Swoją ofertę", "YourOffer", "Submit")</div>
                            <div class="label">@Html.ActionLink("Poszukiwane oferty", "SearchedOffers", "Submit")</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="subskrypcja">
                        <div class="undermenu"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="notatnik">
                        <div class="undermenu"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="kontakt">
                        <div class="undermenu">
                            <div class="label">@Html.ActionLink("Firma", "Company", "Contact")</div>
                            <div class="label">@Html.ActionLink("Agenci", "Agents", "Contact")</div>
                            <div class="label">@Html.ActionLink("Kredyty", "Credits", "Contact")</div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="mapaStrony">
                        <div class="undermenu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>